# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\JETS\ORM\ORM-Hibernate-Labs\Lab0101_HibernateOneTableWithAnnotation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
